---
const { text } = Astro.props;
---

<div class="subheader">
    <h3>{text}</h3>
</div>
<style>
    .subheader {
        color: #386cd4;
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 5px;
        margin-bottom: 20px;
    }
</style>
