---
const { icon, header } = Astro.props;
import arrow from "/arrow.svg";
---

<div class="header">
    <h1 style="display: inline-flex; align-items: center; font-weight: bold;">
        <img id="left" class="header-brackets" src={arrow} />
        <span>{header}</span>
        <img id="right" class="header-brackets" src={arrow} />
    </h1>
    <img class="header-icons" src={icon} alt="Info Icon" />
</div>
<style>
    .header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .header-brackets {
        color: #386cd4;
        font-size: 50px;
    }
    #left {
        padding: 0px 20px 20px 0px;
    }
    #right {
        padding: 20px 20px 0px 0px;
        transform: rotate(180deg);
    }
    .header-icons {
        height: 30px;
        padding-bottom: 40px;
    }
</style>
