---
import info from "/info.svg";
import SubHeader from "../headers/SubHeader.astro";
import TopHeader from "../headers/TopHeader.astro";
---

<section class="section" id="introduction">
    <TopHeader icon={info} header="Introduction" />
    <div class="content-container">
        <SubHeader text="// background" />
        <div class="content-full">
            <p class="point">
                - I participate in many intramural sports teams during the season. That means I am
                on the IM Leagues application a lot putting together teams and checking what my
                schedule is for the week.
            </p>
            <p class="point">
                - IM Leagues is an application for managing teams, players, games, schedules, and
                everything else to intramural sports. To participate, a student must sign up and use
                the app.
            </p>
        </div>
    </div>
    <div class="content-container">
        <SubHeader text="// whats the problem?" />
        <div class="content-full">
            <p class="point">
                - The problem with IM Leagues stems a lot from the fact that I am a software
                developer. The application is slow, un-responsive, littered with advertisements, the
                UI is poorly designed, confusing to navigate. It is irritating to use and it made me
                want to create my own version that fixed these problems.
            </p>
            <p class="point">
                - I was not able to find any alternatives or competitors. IM Leagues dominate most
                of the market share leaving no reason to improve or make changes.
            </p>
        </div>
    </div>

    <div class="content-container">
        <SubHeader text="// the solution" />
        <div class="content-full">
            <h6 class="point">
                IM Leagues needs to be <u>replaced</u>
            </h6>
            <p class="point">
                - Myself along with my roommate, who is a graphic designer, are passionate about
                intramural sports on campus. Together we have decided to design and create a
                replacement that will recreate the basic functionality needed for intramural sports
                while, improving on the drawbacks of IM Leauges.
            </p>
            <br />
            <br />
            <br />
            <h6 class="point">
                <u>Intramu</u> is the solution
            </h6>
            <p class="point">
                - It will be a new web application, designed and built from scratch with modern
                frameworks. It will solve these problems while making improvements for students to
                enjoy. In future versions a mobile application will also be created for users to
                fully enjoy Intrmamu
            </p>
        </div>
    </div>
</section>

<style></style>
