---
import info from "../../../public/info.svg";
import SubHeader from "../headers/SubHeader.astro";
import TopHeader from "../headers/TopHeader.astro";
---

<section class="section" id="introduction">
    <TopHeader icon={info} header="Introduction" />
    <div class="content-container">
        <SubHeader text="// current situation" />
        <div class="content-full">
            <p class="point">- I participate in many intramural sports around campus</p>
            <p class="point">- IM Leagues is the current application to play intramural sports</p>
            <p class="point">
                - Manages teams, players, games, schedules, and everything else that's related
            </p>
            <p hidden>
                The developers are passionate about sports, and particpate in many of the Intramural
                leagues provided by the University. To take part the activities, a user must signup
                through the application <u>IM Leagues</u>. This manages teams, players, games,
                schedules, and everything else related to Intramural sports.
            </p>
        </div>
    </div>

    <div class="content-container">
        <SubHeader text="// what is the solution?" />
        <div class="content-full">
            <p class="point">- IM Leagues is need of a replacement</p>
            <ul style="margin-bottom: 20px;" class="content-list">
                <li>Littered With Advertisements</li>
                <li>Slow & Un-responsive</li>
                <li>Out of Date</li>
                <li>Difficult to Use And Navigate</li>
            </ul>
            <p class="point">
                - It dominates most of the market share, leaving no reason to improve or make
                changes
            </p>
            <p class="content-full" hidden>
                <u>IM Leagues</u> is in need of a replacement. It dominates most of the intramural sports
                management space with organizations and universities around the country. With lack of
                competition there is no reason to improve or make changes when you possess such a high
                market share. Both the mobile and web application are littered with advertisements, slow
                and un-responsive, and out of date. They developers only fix bugs and there are never
                any new updates.
            </p>
        </div>
    </div>

    <div class="content-container">
        <SubHeader text="// solution" />
        <div class="content-full">
            <p class="point">
                - <u style="color: #386cd4;">Intramu</u> is the solution to solve these drawbacks
            </p>
            <p class="point">
                - It is a new web application built from scratch with modern technologies
            </p>
            <p class="point">- Future versions will include a mobile app</p>
            <p class="content-full" hidden>
                <u>Intramu</u> is a new web application being built from scratch to fix the problems
                of IM Leagues. It is
            </p>
        </div>
    </div>
</section>

<style></style>
