---
import github from "/github.svg";
---

<footer>
    <span style="flex: 2; text-align: right;">Check out Intramu -&gt;</span>
    <a
        style="flex: 1; text-align: center;"
        href="https://github.com/intramu"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img src={github} alt="Github Icon" />
    </a>
    <a id="top" style="flex: 2; text-align: left;">Back to Top ^</a>
</footer>
<script>
    const top = document.getElementById("top");

    top!.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });

    if (window.location.pathname.includes("about")) {
        top!.innerHTML = "";
    }
</script>

<style>
    footer {
        width: 1400px;
        height: 100px;
        padding: 5px;
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-color: black;
        border-radius: 16px 16px 0 0;
        color: grey;
    }
    a {
        color: inherit;
    }
</style>
